#titlebar {
    padding: 30px;
    background-color: #262626;
    color: white;
}

#contentarea {
    padding: 50px;
}

ul {
    margin-bottom: 0px;
}

.outputbox {
    margin: 10px 0 0 0;
    padding: 15px;
    background-color: #efefef;
    border-radius: 5px;
}
